<table class="table">
  <thead>
  <tr>
  <th>name</th>
  <th>address</th>
  <th>phone number</th>
  <th>delete</th>
  <th>update</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.UserName }}</th>
    <td>{{ user.UserAddress }} </td>
    <td>{{ user.UserPhone }} </td>
    <td (click)="deleteUser(user)">delete</td>
    <td (click)="updateUser(user)">update</td>
  </tr>
  </tbody>

</table>

<button (click)="addUser()">add user</button>

<form [formGroup]="userForm" *ngIf="isUserForm" (ngSubmit)="sendForm()">
  <input type="text" formControlName="UserName">
  <input type="text" formControlName="UserAddress">
  <input type="text" formControlName="UserPhone">
  <button type="submit">send form</button>
</form>

