<div class="container mt-5">
  <h1 class="text-center">Users</h1>
  <div class="w-25 mb-3 mx-3">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="User name" (keyup)="search($event.target)">
  </div>
  <div *ngIf="data">
    <p class="searchItem rounded" *ngFor="let item of data"> {{ item }} </p>
  </div>
  </div>
<table class="table table-striped mt-3 text-center">
  <thead>
  <tr>
  <th>name</th>
  <th>address</th>
  <th>phone number</th>
  <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.UserName }}</th>
    <td>{{ user.UserAddress }} </td>
    <td>     {{ user.UserPhone }} </td>
    <td>
      <button (click)="deleteUser(user)" type="button" class="btn btn-outline-danger mx-4">
        delete
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="updateUser(user)">
        update
      </button>
    </td>
  </tr>
  </tbody>

</table>

<button *ngIf="!isUserToUpdate && ! isClicked" (click)="addUser()" class="btn btn-outline-primary">add user</button>

<form [formGroup]="userForm" *ngIf="isUserForm" (ngSubmit)="sendForm()">
  <div class="d-flex justify-content-start">
    <div class="input-group mb-3 mx-3">
      <input type="text" class="form-control" formControlName="UserName" placeholder="User name">
    </div>
    <div class="input-group mb-3 mx-3">
      <input type="text" class="form-control" formControlName="UserAddress" placeholder="User address">
    </div>
    <div class="input-group mb-3 mx-3">
      <input type="text" class="form-control" formControlName="UserPhone" placeholder="User phone">
    </div>
  </div>

  <button class="btn btn-outline-primary" type="submit">send form</button>
  <button class="btn btn-outline-secondary" type="button" (click)="hideForm()">Cancel</button>
</form>
</div>

